@model dynamic

@{
    ViewBag.Title = "Recommendations";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*apikey = AIzaSyBGJRPRHqGo5aORter8h37s7ez8QPt0VFY*@

<div id="fh5co-page">
    <section id="fh5co-hero" class="js-fullheight" @*style="background-image: url(/Content/images/hero3.jpg);"*@ data-next="yes">
        @*<div class="fh5co-overlay"></div>*@
        <div class="container">
            <div class="fh5co-intro js-fullheight">

                <div class="recommendations_page">
                    <h2>Following are the suggested Destinations for you.</h2>


                    <iframe width="100%"
                            height="450"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBGJRPRHqGo5aORter8h37s7ez8QPt0VFY
    &q=Southland,New+Zealand" allowfullscreen></iframe>

                    <ul class="list-group">
                        <li class="list-group-item">Milford Sound</li>
                        <li class="list-group-item">Firdland national park</li>
                        <li class="list-group-item">Milford track</li>
                        <li class="list-group-item">Routeburn track</li>
                        <li class="list-group-item">Kepler track</li>
                        <li class="list-group-item">Lake Te Anau</li>
                        <li class="list-group-item">Hollyford Track</li>
                        <li class="list-group-item">Manapouri Power Station</li>
                        <li class="list-group-item">Southland museum and art gallery</li>
                        <li class="list-group-item">Queens park, invercargill</li>
                        <li class="list-group-item">Bill Richardson transport world</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
