@model TourismReco2.Models.ViewModels.RecommendationsFormViewModel

@{
    ViewBag.Title = "Recommendations";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@*Enter following form for Recommendations*@</h2>

<div id="fh5co-page">
    <section id="fh5co-hero" class="js-fullheight" @*style="background-image: url(/Content/images/hero3.jpg);"*@ data-next="yes">
        @*<div class="fh5co-overlay"></div>*@
        <div class="container">
            <div class="fh5co-intro js-fullheight">

                @using (Html.BeginForm("Recommendations", "Recommendations", FormMethod.Post, new { @class = "reco_form" }))
                {

                    <div class="reco_form_overlay">
                        
                        @foreach (var clan in Model.Clans)
                        {
                            <div>@clan.ClanName</div>
                        }

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                }
            </div>
        </div>
    </section>



</div>
