

#recommendationForm {
    margin-top: 50px;
}

#recommendationForm .reco_form {
    margin-top: 0;
}

#recommendationForm .container h2 {
    padding-left: 10px;
    font-weight: 100;
}

    #recommendationForm .clan {
        border: 4px solid #FEFEFE !important;
        height: 150px;
        /*        border: 1px solid red;*/
        /*        margin-right: 10px;*/
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    #recommendationForm .background-0 {
        background: url('images/photo0.jpg');
        background-size: cover;
    }

    #recommendationForm .background-1 {
        background: url('images/photo1.jpg');
        background-size: cover;
    }

    #recommendationForm .background-2 {
        background: url('images/photo2.jpg');
        background-size: cover;
    }

    #recommendationForm .background-3 {
        background: url('images/photo3.jpg');
        background-size: cover;
    }

    #recommendationForm .background-4 {
        background: url('images/photo4.jpg');
        background-size: cover;
    }

    #recommendationForm .background-5 {
        background: url('images/photo5.jpg');
        background-size: cover;
    }

    #recommendationForm .background-6 {
        background: url('images/photo6.jpg');
        background-size: cover;
    }

    #recommendationForm .background-7 {
        background: url('images/photo7.jpg');
        background-size: cover;
    }

    #recommendationForm .clan .clan-overlay {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 130%;
        background: rgba(0,0,0, .3);
    }

    #recommendationForm .clan .content {
        margin-top: 110px;
        margin-left: 10px;
    }

    #recommendationForm .clan .checkbox {
        display: inline-block;
        margin-bottom: 4px;
    }

    #recommendationForm .clan p.clan-name {
        display: inline-block;
        color: white;
        font-weight: 600;
    }

#recommendationForm .btn {
    margin-top: 20px;
    margin-left: -10px;
    
}

















#show-selected-reco #dirs {
    overflow: scroll;
    border: 2px solid grey;
}



/*h2 {*/
/*    margin-top: 120px !important;*/
/*    margin-left: 120px !important;*/
/*}*/