#sub-clan-priority .reco_form .row {
    margin-bottom: 70px !important;
    padding-bottom: 20px;
    border-bottom: 1px solid #484C50;
}

/*.row #rateYo {*/
/*/*    height: 20px;!1!*/
/*/*    border: 1px solid red;!1!*/
/*}*/

#sub-clan-priority .subClanPriorityContent {
    border-bottom: 1px solid #484C50;
    
}

/*#sub-clan-priority .subClanPriorityContent .priority-box {*/
/*    background: white;*/
/*}*/

    #sub-clan-priority .subClanPriorityContent .priority-box input {
        display: block;
    }