#show-selected-reco ol.list-group {
    display: inline-block;
    border: 1px solid #796E5F;
}


#map_canvas {
    width: 100%;
    border: 1px solid #796E5F;
}

#show-selected-reco ol {
    list-style-type: decimal !important;
    list-style-position: inside;
}

#show-selected-reco .list-group .list-group-item {
    display: list-item;
}

#show-selected-reco #dirs {
    border: 1px solid #796E5F;
    padding: 0 5px;
}

.panel-heading {
    display: inline-block;
    width: 90%;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}
