body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {*/
    /*padding-left: 15px;
    padding-right: 15px;*/
/*}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}





/*Custom CSS*/
.container-fluid {
    padding: 0 !important;
}

#fh5co-hero {
    background-size: cover !important;
}


/*#fh5co-header {*/
    /*padding: 0 !important;
    margin: 0 !important;*/
/*}*/


/*Template CSS*/
/* For demo purpose only */
/*
        GREEN
        8dc63f
        RED
        FA5555
        TURQUOISE
        27E1CE
        BLUE
        2772DB
        ORANGE
        FF7844
        YELLOW
        FCDA05
        PINK
        F64662
        PURPLE
        7045FF

        */
/* For Demo Purposes Only ( You can delete this anytime :-) */
#colour-variations {
    padding: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 140px;
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 999999;
    background: #fff;
    /*border-radius: 4px;*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
}

    #colour-variations.sleep {
        margin-left: -140px;
    }

    #colour-variations h3 {
        text-align: center;
        ;
        font-size: 11px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #777;
        margin: 0 0 10px 0;
        padding: 0;
        ;
    }

    #colour-variations ul,
    #colour-variations ul li {
        padding: 0;
        margin: 0;
    }

    #colour-variations ul {
        margin-bottom: 20px;
        float: left;
    }

    #colour-variations li {
        list-style: none;
        display: inline;
    }

        #colour-variations li a {
            width: 20px;
            height: 20px;
            position: relative;
            float: left;
            margin: 5px;
        }



            #colour-variations li a[data-theme="style"] {
                background: #8dc63f;
            }

            #colour-variations li a[data-theme="red"] {
                background: #FA5555;
            }

            #colour-variations li a[data-theme="turquoise"] {
                background: #27E1CE;
            }

            #colour-variations li a[data-theme="blue"] {
                background: #2772DB;
            }

            #colour-variations li a[data-theme="orange"] {
                background: #FF7844;
            }

            #colour-variations li a[data-theme="yellow"] {
                background: #FCDA05;
            }

            #colour-variations li a[data-theme="pink"] {
                background: #F64662;
            }

            #colour-variations li a[data-theme="purple"] {
                background: #7045FF;
            }

    #colour-variations a[data-layout="boxed"],
    #colour-variations a[data-layout="wide"] {
        padding: 2px 0;
        width: 48%;
        border: 1px solid #ededed;
        text-align: center;
        color: #777;
        display: block;
    }

        #colour-variations a[data-layout="boxed"]:hover,
        #colour-variations a[data-layout="wide"]:hover {
            border: 1px solid #777;
        }

    #colour-variations a[data-layout="boxed"] {
        float: left;
    }

    #colour-variations a[data-layout="wide"] {
        float: right;
    }

.option-toggle {
    margin-left: -140px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: -30px;
    width: 30px;
    height: 30px;
    background: #8dc63f;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
}

    .option-toggle i {
        top: 2px;
        position: relative;
    }

    .option-toggle:hover, .option-toggle:focus, .option-toggle:active {
        color: #fff;
        text-decoration: none;
        outline: none;
    }




.reco_form {
    /*background: #fff !important;
    opacity: .5;*/
    padding: 20px;
    margin-top: 50px;
}

.reco_form_overlay {
    height: 100%;
    width: 100%;
    /*background: white;*/
}

#fh5co-logo > a {
    color: #8DC53F !important;
}

.recommendations_page > h2 {
    margin-top: 80px;
    color: #85929F !important;
    font-size: 30px !important;
}



.navbar {
    background: rgba(141, 197, 63, .7);
    height: 80px !important;
    color: white !important;
    margin-bottom: 0 !important;
}



.small_textbox {
    width: 100px !important;
    background: white !important;
    display: inline-block !important;
}

.navbar h1#header-logo {
    margin-top: 15px;
    text-align: center;
    display: inline-block;
    font-weight: 100;
    color: white !important;
    z-index: 100;
}

    .navbar h1#header-logo a {
        color: white;
    }

#fh5co-header nav ul li a {
    color: rgba(255, 255, 255, 0.8) !important;
}


.navbar .right-menu {
    margin-top: 15px !important;
}

    .navbar .right-menu .nav li a {
        color: white !important;
    }


.container h2, .container-fluid h2 {
    padding-left: 10px;
    font-weight: 100;
}

#recommendationForm,
#select-clan-priority,
#sub-clan-priority,
#show-generated-recommendations,
#show-selected-reco {
    margin-top: 50px;
}


    #recommendationForm .reco_form,
    #select-clan-priority .reco_form,
    #sub-clan-priority .reco_form,
    #show-generated-recommendations .reco_form,
    #show-selected-reco .reco_form {
        margin-top: 0;
    }
